@model IEnumerable<Music.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>All Artists</h2>

<p>
    <button onclick="location.href='@Url.Action("Create")';return false;" class="btn btn-default">Add New Artist</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "ByArtist", "Albums", new { id = item.ArtistID }, null)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistID })
        </td>*@
    </tr>
}

</table>
